.product-image {
    width: 500px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px; 
    transition: transform 0.3s ease-in-out; 
}

.product-image.fade-in {
    opacity: 1;
}

.rating {
    font-size: 24px;
    color: gold;
    transition: transform 0.3s ease-in-out;
}
