:root {
    --primary-color: #333;
    --secondary-color: #fff;
    --dropdown-max-height: 200px;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    animation: fadeInPage 1s ease-in-out;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #86615C;
  }
  
 header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-button {
    margin-left: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.5em;
    text-decoration: none;
  }

  .dropdown,
  .header-button {
    display: inline-block; /* Hace que los elementos "Compras" y "Sobre Nosotros" estén en línea */
    margin-left: 10px; /* Agrega un poco de espacio entre los elementos */
  }

  
  .logo img:hover,
  .user-profile img:hover {
    transform: scale(1.4);
  }
  
  section.product-panel {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-panel {
    transition: height 0.3s ease; 
  }

  section.product-panel .row {
    width: 100%;
    display: flex;
  }
  
  section.product-panel .row .col-md-6 {
    width: 50%;
    box-sizing: border-box;
    padding: 2 10px; /* Agregar un poco de espacio entre los productos */
  }
  
  .dropdown-wrapper {
    float: left;
    margin-left: 10px;
  }
  
  .dropdown {
    margin-right: auto; /* Mueve el contenedor de la categoría hacia la izquierda */
}

  .dropbtn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1em;
    border: none;
    cursor: pointer;
    font-size: 1em; 
    border-radius: 5px; 
    transition: all 0.3s ease-in-out; 
  }

  .dropbtn:hover {
    background-color: #666; 
  }
  
  .dropdown-content {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    position: absolute;
    z-index: 1;
    width: 160px;
    background-color: #f9f9f9a6;
  }
  
  .dropdown-content a {
    color: #8a90e1;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
  }
  
  .dropdown-content a:hover {
    background-color: #f1d0d0;
  }
  
  .dropdown-wrapper:hover .dropdown-content,
  .user-dropdown:hover .user-dropdown-content,
  .category-dropdown-wrapper:hover .category-dropdown {
    max-height: 200px;
    overflow: visible;
  }

  .user-profile img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .user-dropdown {
    float: right;
  }

  .user-dropdown-content {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    position: absolute;
    z-index: 1;
    width: 160px;
    background-color: #952020;
  }
  
  .user-dropdown-content a {
    color: #ff9c9c;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
  }
  
  .user-dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .user-dropdown:hover .user-dropdown-content {
    max-height: var(--dropdown-max-height);
  }
  
  .user-dropdown-content {
  
    right: 0; 
  }

  .user-dropdown-content.left {
    right: auto;
    left: 0; 
  }

  .category-dropdown-wrapper {
    margin-bottom: 20px;
  }
  
  .category-dropdown {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    position: absolute;
    z-index: 1;
    width: 160px;
    background-color: #f9f9f9;
  }
  
  .category-dropdown a {
    color: var(--primary-color);
    padding: 12px 16px;
    display: block;
    text-decoration: none;
  }
  
  .category-dropdown a:hover {
    background-color: #ddd;
  }
  
  .category-dropdown-wrapper:hover .category-dropdown {
    max-height: var(--dropdown-max-height);
  }
  
  .product-image {
    width: 500px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px; 
    transition: transform 0.3s ease-in-out; 
    }
  
  .product-image.fade-in {
    opacity: 1;
  }
  
  .rating {
    font-size: 24px;
    color: gold;
    transition: transform 0.3s ease-in-out;
  }
  
  main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  section {
    width: 50%;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #f7bcbc; 
    box-shadow: 0 2px 4px rgba(189, 74, 74, 0.1);
    
  }
  
  .about-us {
    background-color: #f9f9f9; 
    padding: 20px; 
    margin-bottom: 20px; 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out; 
  }

   
  .about-us:hover{
    background-color: #9f9e9eb5; 
    transform: scale(1.1); 
  }
  
  .about-us h2 {
    color: #333; 
    margin-bottom: 10px; 
  }
  
  .about-us p {
    color: #666; 
    line-height: 1.6; /* Ajusta la altura de línea para una mejor legibilidad */
  }
  
  .about-us img {
    width: 100%;
    border-radius: 10px; 
    margin-top: 20px; 
  }
  
  img {
    max-width: 100%;
  }
  
  .rating {
    font-size: 24px;
    color: gold;
  }
  
  footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1em;
    clear: both;
    margin-top: auto; /* Empuja el footer hacia la parte inferior del contenedor principal */
  }
  
  .reserved {
    text-decoration: underline;
  }
  
  .contact-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
  }

  .product-panel .col-md-6 {
    width: 45%; 
    background-color: #0bffe3; 
    padding: 20px; 
    margin: 10px; 
    border-radius: 10px;
    transition: transform 0.3s ease-in-out; /* Transición suave al agrandar el panel */
  }

  .product-panel .col-md-6:hover {
    transform: scale(1.1); 
  }

  .product-image:hover {
  transform: scale(1.1); /* Agrandar la imagen al pasar el mouse por encima */
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
      display: block;
      margin-bottom: 5px;
  }

  .form-group input {
      width: 90%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }

  .checkbox-group {
      margin-bottom: 20px;
  }

  .button-container {
      text-align: center;
  }

  .button-container button {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  }

  .button-container button:hover {
      background-color: #666;
  }

  .button-container a {
      margin-left: 10px;
      color: #333;
      text-decoration: none;
  }

  .button-container a:hover {
      text-decoration: underline;
  }

  .register-container {
    background-color: #fff;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    max-width: 400px; 
    margin: 0 auto; 
  }

  .login-container {
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    max-width: 400px; 
    margin: 0 auto; 
  }

  .login-container {
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 30px; 
    max-width: 400px; 
    margin: 0 auto; 
}

  .login-container h2 {
      margin-bottom: 20px; /* Aumenta el margen inferior del título */
  }

  .login-form-group {
      margin-bottom: 25px; /* Aumenta el margen inferior de los grupos de formularios */
  }

  .login-form-group label {
      font-weight: bold; /* Hace que las etiquetas del formulario sean más destacadas */
  }

  .login-form-group input {
      width: calc(100% - 20px); 
      padding: 10px; 
      border: 1px solid #ccc; 
      border-radius: 5px;
  }

  .login-checkbox-group {
      margin-bottom: 25px; /* Aumenta el margen inferior del grupo de casillas de verificación */
  }

  .login-button-container {
      text-align: center; 
  }

  .login-button-container button {
      background-color: #333; 
      color: #fff; 
      padding: 12px 24px; 
      border: none; 
      border-radius: 5px; 
      cursor: pointer; 
      transition: background-color 0.3s; /* Agrega una transición suave al color de fondo */
  }

  .login-button-container button:hover {
      background-color: #555; /* Cambia el color de fondo al pasar el mouse por encima del botón */
  }

  .login-button-container a {
      margin-left: 10px; /* Aumenta el espacio entre el botón y el enlace */
      color: #333; 
      text-decoration: none; /* Elimina el subrayado del enlace */
  }

  .login-button-container a:hover {
      text-decoration: underline; /* Subraya el enlace al pasar el mouse por encima */
  }

  .product {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  }

  .product-image img {
    margin-top: 1%;
    margin-left: 2%;
    width: 300px;
    height: 250px;
    border-radius: 5px;
  }

  .product-details {
      margin-left: 20px;
  }

  .rating {
      color: gold;
  }

  .product-checkbox {
      margin-left: auto; /* Mueve el checkbox al final del contenedor */
  }

  .checkout-buttons a {
    margin-right: 10px;
  }

  /* Mover el checkbox debajo del precio */
  .product-checkbox {
      margin-left: 0;
      margin-top: 10px;
  }

  .checkout-buttons {
      margin-top: 20px;
      display: flex;
      justify-content: center;
  }

  .pay-button {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      text-decoration: none;
      margin: 5%;
  }

  .pay-button:hover {
      background-color: #666;
  }
  
  /* Estilos para las checkboxes */
  input[type="checkbox"] {
    display: none; /* Oculta el checkbox predeterminado */
  }

  /* Estilos para el contenedor de la checkbox personalizada */
  .product-checkbox {
    margin-left: 20px; /* Agrega espacio entre el producto y la checkbox */
    position: relative; 
  }

  /* Estilos para la etiqueta que simulará la checkbox personalizada */
  .product-checkbox label {
    display: inline-block; /* Hace que la etiqueta sea un bloque en línea */
    top: 50%;
    transform: translateY(-50%); 
    left: 0;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
  }

  /* Estilos para el diseño de la checkbox personalizada */
  .product-checkbox label::before {
    content: ""; /* Agrega contenido antes de la etiqueta */
    display: inline-block; 
    width: 20px; 
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    margin-right: 10px;
    position: relative; 
    vertical-align: middle; 
  }

  /* Estilos para simular el estado activo de la checkbox */
  .product-checkbox input:checked + label::before {
    background-color: #333; 
  }

  /* Estilos para simular la marca dentro de la checkbox */
  .product-checkbox label::after {
    content: "\2713"; /* Agrega la marca de verificación */
    color: #fff; 
    font-size: 16px; /* Tamaño de la marca */
    top: 50%; 
    left: 50%; 
    transform: translate(-600%, -55%); /* Ajusta la posición */
    opacity: 0; /* Inicialmente invisible */
    position: absolute;
  }

  /* Estilos para mostrar la marca cuando la checkbox está marcada */
  .product-checkbox input:checked + label::after {
    opacity: 1; /* Muestra la marca cuando la checkbox está marcada */
  }

  .sidebar {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    width: 250px; 
    box-sizing: border-box; 
}

  .radio-buttons,
  .checkboxes {
      margin-bottom: 20px; /* Espaciado entre grupos de elementos */
  }

  .radio-buttons label,
  .checkboxes label {
      display: block; /* Muestra los elementos de forma vertical */
      margin-bottom: 10px; /* Espaciado entre elementos */
  }

  .radio-buttons input[type="radio"],
  .checkboxes input[type="checkbox"] {
      margin-right: 5px; /* Espaciado entre el input y el texto */
  }

  .product-filter {
      margin-top: 20px; /* Espaciado entre la sección de filtros y los productos */
  }

   /* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  /* Reorganización de elementos */
  
  body {
    font-size: 16px; /* Reducir el tamaño de la fuente en dispositivos móviles */
  }
  
  /* Reorganización de elementos */
  section.product-panel .row {
    display: flex;
    flex-direction: column; /* Mostrar productos en una columna en dispositivos móviles */
  }
  section.product-panel .row .col-md-6 {
    width: auto; /* Establecer el ancho automático para que los productos ocupen todo el ancho */
    padding: 0 10px; /* Reducir el espacio entre productos */
  }
  .header-content {
    display: block; /* Mostrar enlaces de navegación en dispositivos móviles */
  }
  .user-profile {
    float: right; /* Alinear perfil de usuario a la derecha */
  }
  .dropdown-content {
    position: absolute; /* Ajustar la posición para mostrar los enlaces de compra */
    display: none; /* Ocultar los enlaces de compra en dispositivos móviles */
  }
  .product-image {
    width: 100%; /* Ajustar el tamaño de la imagen al ancho de la pantalla */
    height: auto; /* Mantener la proporción de la imagen */
  }
  
  .dropdown {
    display: block !important; /* Mostrar el botón de compra en dispositivos móviles */
  }
  section.about-us {
    width: 90%; /* Cambiar el ancho de la sección "about-us" */
  }

  section.product {
    width: 90%; /* Ajustar el ancho de la sección */
    flex-direction: column; /* Apilar elementos verticalmente en dispositivos móviles */
  }

  .product-image img {
    width: 95%; /* Ajustar el ancho de la imagen al 100% del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    border-radius: 0; /* Opcional: eliminar el radio de borde para adaptarse a la pantalla */
  }
  
  .checkout-buttons {
    width: 90%; /* Ajustar el ancho al 90% del contenedor */
    margin-top: 20px; /* Aumentar el margen superior para separarlo de la sección de productos */
  }

  .pay-button {
    padding: 5px 10px;
    margin: 5%;
  }

  .sidebar {
    width: 70%; /* Reducir el ancho del sidebar */
    padding: 10px; /* Ajustar el relleno para evitar que los elementos se agrupen demasiado */
    top: 60px; /* Ajustar la distancia desde la parte superior para evitar la superposición con el encabezado */
    overflow-y: auto; /* Agregar desplazamiento vertical si el contenido excede el tamaño del sidebar */
   
  }

}

/* Estilos para tablets */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  /* Ajustes de tamaño de fuente */
  body {
    font-size: 16px; /* Reducir el tamaño de la fuente en tablets */
  }
  /* Reorganización de elementos */
  .dropdown-content {
    position: static; /* Cambiar la posición para mostrar los enlaces de compra */
  }
}

/* Estilos para dispositivos de escritorio */
@media only screen and (min-width: 993px) {
  /* Reorganización de elementos */
  .dropdown-content {
    display: block; /* Mostrar los enlaces de compra en dispositivos de escritorio */
  }
  section.product-panel .row .col-md-6 {
    width: 50%; /* Mostrar dos productos por fila en dispositivos de escritorio */
  }
}
